.grid-container {
  width: 90%;
  min-height: 90vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33rem 35rem;
  text-align: center;
  color: #adadad;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .box-1 {
    grid-column: 1/2;
    grid-row: 1/2;

    position: relative;
    h2 {
      position: absolute;
      right: 5%;
      top: 30%;
      font-size: 3rem;
      font-weight: 500;
    }
  }
  .box-2 {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;

    h2 {
      position: absolute;
      top: 20%;
      left: 5%;
      font-size: 3rem;
      font-weight: 500;
    }
    h3 {
      position: absolute;
      left: 5%;
      bottom: 20%;
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  .box-3 {
    position: relative;
    grid-column: 1/3;
    grid-row: 2/3;
    overflow: hidden;

    h2 {
      position: absolute;
      top: 10%;
      left: 50%;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.3;
      transform: translateX(-50%);
      color: #505050;
    }
  }
}
